<form autocomplete="off">

  <!-- Effect Header -->
  <header class="sheet-header dae-sheet-header">
    {{#if useIcon}}
    <img class="effect-icon dae-effect-icon" src="{{ effect.icon }}" data-edit="icon">
    {{else}}
    <img class="effect-icon dae-effect-icon" src="{{ effect.img }}" data-edit="icon">
    {{/if}}
    <h1 class="effect-title dae-effect-title">
      <input name="name" type="text" value="{{data.name}}" placeholder="{{ localize 'Name' }}" />
    </h1>
  </header>

  <!-- Effect Configuration Tabs -->
  <nav class="sheet-tabs tabs" aria-role="{{localize 'SHEETS.FormNavLabel'}}">
    <a class="item" data-tab="details"><i class="fas fa-book"></i> {{localize "EFFECT.TabDetails"}}</a>
    <a class="item" data-tab="duration"><i class="fas fa-clock"></i> {{localize "EFFECT.TabDuration"}}</a>
    <a class="item" data-tab="effects"><i class="fas fa-cogs"></i> {{localize "dae.TabChanges"}}</a>
  </nav>

  <!-- Details Tab -->
  <section class="tab dae-details-tab" data-tab="details">
    <div class="form-group dae-form-group">
      <label>{{ localize "dae.IconTint" }}</label>
      <div class="form-fields">
        <input class="color" type="text" name="tint" value="{{effect.tint}}" />
        <input type="color" value="{{effect.tint}}" data-edit="tint" />
      </div>
    </div>

    <div class="form-group stacked dae-prosemirror">
      <label>{{ localize "EFFECT.Description" }}</label>
      {{editor descriptionHTML target="description" button=false editable=editable engine="prosemirror"
      collaborate=false}}
    </div>

    <div class="form-group dae-form-group">
      <label>{{ localize "EFFECT.Disabled" }}</label>
      <input type="checkbox" name="disabled" {{ checked effect.disabled }} />
    </div>
    {{#if (and isItemEffect (not isConditionalActivationEffect))}}
    <div class="form-group dae-form-group effectTransfer">
      <label>{{ localize "dae.transfer.Name" }}</label>
      <input type="checkbox" name="transfer" {{ checked effect.transfer }} />
    </div>
    <p class="notes" style="margin-bottom:1em">
      {{ localize "dae.transfer.Hint" }}
    </p>
    {{/if}}

    {{#unless effect.transfer}}
    <div class="form-group dae-form-group">
      <label>{{ localize "dae.EnableCondition" }}</label>
      <div class="value flex-grow">
        <textarea rows="1" name="flags.dae.enableCondition">{{effect.flags.dae.enableCondition}}</textarea>
      </div>
    </div>
    {{/unless}}

    <div class="form-group dae-form-group">
      <label>{{ localize "dae.DisableCondition" }}</label>
      <div class="value flex-grow">
        <textarea rows="1" name="flags.dae.disableCondition">{{effect.flags.dae.disableCondition}}</textarea>
      </div>
    </div>

    {{#if midiActive }}
    {{#unless isEnchantment}}
    <div class="form-group dae-form-group">
      <label>{{ localize "dae.IncapacitatedDisabled" }}</label>
      <input type="checkbox" name="flags.dae.disableIncapacitated" {{ checked effect.flags.dae.disableIncapacitated
        }} />
    </div>
    {{/unless}}
    {{/if}}
    {{#if isActorEffect}}
    <div class="form-group dae-form-group">
      <label>{{ localize "EFFECT.Origin" }}</label>
      <div class="form-fields">
        <input type="text" name="origin" value="{{ data.origin }}" disabled />
      </div>
    </div>
    {{/if}}

    {{#if (and isItemEffect (not isConditionalActivationEffect))}}
    {{#unless isEnchantment}}
    {{#unless effect.transfer}}
    {{#if midiActive}}
    <div class="form-group dae-form-group">
      <label>{{ localize "dae.SelfTarget.Name" }}</label>
      <input type="checkbox" name="flags.dae.selfTarget" {{ checked effect.flags.dae.selfTarget }} />
    </div>
    <p class="notes" style="margin-bottom:1em">
      {{ localize "dae.SelfTarget.Hint" }}
    </p>

    <div class="form-group dae-form-group">
      <label>{{ localize "dae.SelfTargetAlways.Name" }}</label>
      <input type="checkbox" name="flags.dae.selfTargetAlways" {{ checked effect.flags.dae.selfTargetAlways }} />
    </div>
    <p class="notes" style="margin-bottom:1em">
      {{ localize "dae.SelfTargetAlways.Hint" }}
    </p>

    <div class="form-group dae-form-group">
      <label>{{ localize "dae.DontApply.Name" }}</label>
      <input type="checkbox" name="flags.dae.dontApply" {{ checked effect.flags.dae.dontApply }} />
    </div>
    <p class="notes" style="margin-bottom:1em">
      {{ localize "dae.DontApply.Hint" }}
    </p>
    {{/if}}
    {{/unless}}
    {{/unless}}
    {{/if}}

    {{#if isItemEffect}}
    <div class="form-group dae-form-group">
      <label>{{localize "dae.Stackable"}}</label>
      <div class="form-fields">
        <select name="flags.dae.stackable" data-dtype="String">
          {{selectOptions stackableOptions selected=effect.flags.dae.stackable}}
        </select>
      </div>
    </div>
    {{/if}}
    {{#unless (and preV12 false)}}
    <div class="form-group dae-form-group">
      <label>Status Conditions</label>
      <div class="form-fields">
        <multi-select name="statuses">
          {{#each statuses as |status|}}
          <option value="{{status.id}}" {{status.selected}}>{{status.label}}</option>
          {{/each}}
        </multi-select>
      </div>
    </div>
    {{/unless}}
    <div class="form-group dae-form-group">
      <label>{{ localize "dae.ShowIcon.Name" }}</label>
      <input type="checkbox" name="flags.dae.showIcon" {{ checked effect.flags.dae.showIcon }} />
    </div>
    <p class="notes" style="margin-bottom:1em">
      {{ localize "dae.ShowIcon.Hint" }}
    </p>
  </section>

  <!-- Duration Tab -->
  <section class="tab dae-duration-tab" data-tab="duration">
    <div class="form-group dae-form-group">
      <label>{{ localize "EFFECT.DurationSecs" }}</label>
      <div class="form-fields dae-form-fields">
        <input type="number" name="duration.seconds" value="{{ effect.duration.seconds }}" />
      </div>
    </div>

    {{#if isItemEffect}}
    <div class="form-group dae-form-group">
      <label>{{ localize "dae.DurationExpression" }}</label>
      <div class="form-fields dae-form-fields">
        <input type="text" name="flags.dae.durationExpression" value="{{ effect.flags.dae.durationExpression }}" />
      </div>
    </div>
    {{/if}}
    {{#if startTimeString}}
    <div>
      {{ startTimeString }}
      {{#if durationString}}
      ->
      {{durationString}}
      {{/if}}
    </div>
    {{/if}}

    <div class="form-group dae-form-group">
      <label>{{ localize "EFFECT.StartTime" }}</label>
      <div class="form-fields dae-form-fields">
        <input type="number" name="duration.startTime" value="{{ effect.duration.startTime }}" />
      </div>
    </div>

    <hr />
    <div class="form-group dae-form-group">
      <label>{{ localize "EFFECT.DurationTurns" }}</label>
      <div class="form-fields dae-form-fields">
        <label>{{ localize "COMBAT.Rounds" }}</label>
        <input type="number" name="duration.rounds" value="{{ effect.duration.rounds }}" />
        <label>{{ localize "COMBAT.Turns" }}</label>
        <input type="number" name="duration.turns" value="{{ effect.duration.turns }}" />
      </div>
    </div>
    <div class="form-group dae-form-group">
      <label>{{ localize "EFFECT.Combat" }}</label>
      <div class="form-fields dae-form-fields">
        <input type="text" name="duration.combat" value="{{ effect.duration.combat }}" disabled />
      </div>
    </div>

    <div class="form-group dae-form-group">
      <label>{{ localize "EFFECT.StartTurns" }}</label>
      <div class="form-fields dae-form-fields">
        <label>{{ localize "COMBAT.Round" }}</label>
        <input type="number" name="duration.startRound" value="{{ effect.duration.startRound }}" />
        <label>{{ localize "COMBAT.Turn" }}</label>
        <input type="number" name="duration.startTurn" value="{{ effect.duration.startTurn }}" />
      </div>
    </div>

    {{#if macroRepeats}}
    <div class="form-group dae-form-group">
      <label>Macro Repeat</label>
      <div class="repeat  form-fields dae-form-fields">
        <select name="flags.dae.macroRepeat" data-dtype="String">
          {{selectOptions macroRepeats selected=effect.flags.dae.macroRepeat}}
        </select>
      </div>
    </div>
    {{/if}}

    <div class="dae-special-duration-container">
      <div class="effect-special-duration flexrow">
        <div class="dae-special-duration-title">
          Special Duration
        </div>
        <div class="effect-controls dae-effect-controls">
          <a class="effect-control dae-effect-control" data-action="add-specDur"><i class="far fa-plus-square"></i></a>
        </div>
      </div>
      <ol class="special-duration-list">
        {{#each effect.flags.dae.specialDuration as |label i|}}
        <li class="effect-special-duration flexrow" data-index="{{i}}">
          <div class="formgroup">
            <select name="flags.dae.specialDuration.{{i}}" data-dtype="string">
              {{selectOptions ../specialDuration selected=label}}
            </select>
            <a class="effect-controls effect-control"
              data-action="delete-specDur"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
  </section>

  <!-- Effects Tab -->
  <section class="tab dae-effects-tab" data-tab="effects">
    <table class="dae-effects-table">
      <thead>
        <tr class="effect-change effects-header flexrow dae-effects-header">
          <th class="key dae-key" >{{ localize "EFFECT.ChangeKey" }}</th>
          <th class="mode dae-mode" >{{ localize "EFFECT.ChangeMode" }}</th>
          <th class="value dae-value" >{{ localize "EFFECT.ChangeValue" }}</th>
          <th class="priority dae-priority" >{{ localize "dae.Priority" }}</th>
          <th class="effect-controls dae-controls">
            <a class="effect-control" data-action="add"><i class="far fa-plus-square"></i></a>
          </th>
        </tr>
      </thead>
      <tbody class="changes-list dae-scrollable-list scrollable dae-effects-list">
        {{#each effect.changes as |change i|}}
        <tr class="effect-change flexrow dae-effect-row" data-index="{{i}}">
          <td class="key dae-key">
            <div class="formgroup dae-key-wrapper">
              <div class="key dae-key-input">
                <input class="keyinput dae-keyinput" type="text" name="changes.{{i}}.key" value="{{change.key}}" />
              </div>
              <div class="dae-field-info">
                <div class="dae-field-name">{{change.fieldName}}</div>
                <div class="dae-field-description">{{change.fieldDescription}}</div>
              </div>
            </div>
          </td>
          <td class="mode dae-mode">
            <select name="changes.{{i}}.mode" data-dtype="Number">
              {{#if change.modes}}
                {{selectOptions change.modes selected=change.mode}}
              {{else}}
                {{selectOptions ../modes selected=change.mode}}
              {{/if}}
            </select>
          </td>
          <td class="value dae-value">
            {{#if change.options}}
              <select name="changes.{{i}}.value" data-dtype="String">
                {{selectOptions change.options selected=change.value localize=false}}
              </select>
            {{else}}
              <div class="value flex-grow dae-value-textarea">
                <textarea name="changes.{{i}}.value" rows="1">{{change.value}}</textarea>
              </div>
            {{/if}}
          </td>
          <td class="priority dae-priority">
            <input type="text" name="changes.{{i}}.priority" value="{{ change.priority }}" />
          </td>
          <td class="effect-controls dae-controls">
            <a class="effect-control" data-action="delete"><i class="fas fa-trash"></i></a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>

  <footer class="sheet-footer">
    <button type="submit"><i class="fas fa-save"></i> {{localize submitText}}</button>
  </footer>
</form>